.btn-vv-sm {
    padding: 0 10px;
}

tr.bg-deposit {
    background-color: #f3fff3;
}

tr.bg-withdraw {
    background-color: #fff6f6;
}

tr.bg-transfer {
    background-color: #fffcf4;
}
tr.bg-increase {
    background-color: #f5f6ff;
}
tr.bg-decrease {
    background-color: #f1f1f1;
}


/* Toggle Switch User Profile is_active */
.switch-user-profile-active {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 24px;
}
  
.switch-user-profile-active input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider-user-profile-active {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider-user-profile-active:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider-user-profile-active {
    background-color: #6dbb30;
}
  
input:focus + .slider-user-profile-active {
    box-shadow: 0 0 1px #468616;
}
  
input:checked + .slider-user-profile-active:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(26px);
    transform: translateX(80px);
}
  
/* Rounded sliders */
.slider-user-profile-active.round {
    border-radius: 34px;
}
  
.slider-user-profile-active.round:before {
    border-radius: 50%;
}


/* Toggle Switch Default */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/* END Toggle Switch */